@{
    ViewData["Title"] = "Panel administratora";
}
<h2>Panel administratora</h2>
<p>Witaj w panelu administratora!</p>

<a class="btn btn-success" asp-action="RegisterUser">Dodaj nowego użytkownika</a>
