@{
    ViewData["Title"] = "Panel klienta";
}
<h2>Panel klienta</h2>
<p>Witaj <strong>@ViewBag.FirstName @ViewBag.LastName</strong>!</p>
<p>Tutaj możesz zarządzać swoimi usługami i danymi.</p>
<a class="btn btn-success" href="/Vehicle/Add">Dodaj pojazd</a>
